/.vs
/EntityWebApi.AutoMapper/bin
/EntityWebApi.AutoMapper/obj
/EntityWebApi.Controllers/bin
/EntityWebApi.Controllers/obj
/EntityWebApi.Core/bin
/EntityWebApi.Core/obj
/EntityWebApi.Dtos/bin
/EntityWebApi.Dtos/obj
/EntityWebApi.EFCore/bin
/EntityWebApi.EFCore/obj
/EntityWebApi.MinimalApi/bin
/EntityWebApi.MinimalApi/obj
/Tests/EntityWebApi.AutoMapper.Tests/bin
/Tests/EntityWebApi.AutoMapper.Tests/obj
/Tests/EntityWebApi.Controllers.Tests/bin
/Tests/EntityWebApi.Controllers.Tests/obj
/Tests/EntityWebApi.Core.Tests/bin
/Tests/EntityWebApi.Core.Tests/obj
/Tests/EntityWebApi.Dtos.Tests/bin
/Tests/EntityWebApi.Dtos.Tests/obj
/Tests/EntityWebApi.EFCore.Tests/bin
/Tests/EntityWebApi.EFCore.Tests/obj
/Tests/EntityWebApi.MinimalApi.Tests/bin
/Tests/EntityWebApi.MinimalApi.Tests/obj
/Tests/Tests.Shared/bin
/Tests/Tests.Shared/obj
/Infrastructure/obj
/Infrastructure/bin
/MinimalApi/obj
/MinimalApi/bin
/WebApi/obj
/WebApi/bin
